body{
    background: rgb(245,57,254);
    background: radial-gradient(circle, rgba(245,57,254,1) 0%, rgba(94,36,116,1) 70%, rgba(46,24,83,1) 100%);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(71, 71, 71);
}

#wrapper {
    display: flex;
    flex-wrap: wrap;
}

#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 20px;
    align-content: center;
    background-color: rgb(209, 227, 199);
    border-radius: 10px;
    border: 3px #04ADBF;
    border-style: dashed;
    margin: 2%;
    padding: 1% 1% 0% 1%;
    box-shadow: 10px 10px 15px #B3D929;
}

#container:hover {
    animation-name: resp;
    animation-duration: 500ms;
    box-shadow: 10px 10px 15px #04ADBF;
    border-color: rgba(245,57,254,1);
    background-color: rgb(241, 241, 120);
}


#logo-c {
    display: flex;
    align-content: center;
}

#logo {
    width: 60%;
    margin: auto;
}

#button {
    width: fit-content;
    height: 5vh;
    border-radius: 100px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 200%;
    font-weight: bolder;
    text-align: center;
    color: aliceblue;
    text-shadow: 3px 3px 4px rgb(32, 32, 32);
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 5px 25px;
    padding-top: 13px;
    cursor: pointer;
    background-color: rgb(216, 216, 52);
}

#button:hover {
    animation: button 90ms;
    background-color: rgba(245,57,254,1);
    color: rgb(255, 255, 32);
}

#img {
    margin: 10%;
    margin-bottom: 0%;
    padding-bottom: 0%;
    border-radius: 10px;
    box-shadow: 05px 05px 8px rgb(88, 100, 90);
}

#firma {
    color: white;
    text-align: right;
    padding-right: 2%;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 120%;
    font-weight: bolder;
}

#text {
    padding: 0% 10%;
    margin-top: 0%;
    font-size: 150%;
}

#counter1, #counter2, #counter3, #counter4 {
    background-color: white;
    color: black;
    position:fixed ;
    display: block;
}

#counter2{
    position: fixed;
    margin-top: 50px;
}

#counter3{
    position: fixed;
    margin-top: 80px;
}

#counter4{
    position: fixed;
    margin-top: 110px;
}

#land {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgba(46,24,83,1);
    position: fixed;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-weight: bolder;
    opacity: 100%;
}

.s-animado {
    font-size: 450%;
    text-align: center;
    animation-name: appear;
    animation-duration: 1200ms;
    padding-top: 40vh;
}

@keyframes resp {
    from{box-shadow: 10px 10px 15px #B3D929; border-color: #04ADBF;}
    to {box-shadow: 10px 10px 15px #04ADBF; border-color: rgba(245,57,254,1);}
}

@keyframes button {
    from{background-color: rgb(216, 216, 52);;}
    to {background-color: rgba(245,57,254,1);}
}

@keyframes appear {
    0%{padding-top: 100vh;}
    50%{padding-top: 40vh;}
    75%{opacity: 100%;}
    100%{opacity: 0%;}
}

@keyframes hi {
    from{opacity: 0%;}
    to{opacity: 100%;}
}